<app-bread-crumb
  [items]="[{text: 'Obras', link: '/obras'}, {text: pageTitle}]"
></app-bread-crumb>

<app-page-header
  [page-title]="pageTitle"
  button-text="<< Voltar"
  button-link="/obras"
  button-class="btn-light"
></app-page-header>


<form [formGroup]="resourceForm" (submit)="submitForm()">

  <div class="card">
    <div class="card-header">
      Informações sobre Obras
    </div>

    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="descricao">Descrição</label>
          <input type="text" class="form-control" id="descricao" formControlName="descricao">

          <app-form-field-error [form-control]="resourceForm.get('descricao')"></app-form-field-error>
        </div>

        <div class="form-group col-md-2">
          <label for="dataInc">Data Início</label>
          <p-calendar
            id="dataInc"
            formControlName="dataInc"
            inputStyleClass="form-control"
            dataType="string"
            dateFormat="dd/mm/yy"
            [locale]="ptBR"
            [showButtonBar]="true">
          </p-calendar>

          <app-form-field-error [form-control]="resourceForm.get('dataInc')"></app-form-field-error>
        </div>

        <div class="form-group col-md-2">
          <label for="dataFim">Data Fim</label>
          <p-calendar
            id="dataFim"
            formControlName="dataFim"
            inputStyleClass="form-control"
            dataType="string"
            dateFormat="dd/mm/yy"
            [locale]="ptBR"
            [showButtonBar]="true">
          </p-calendar>

          <app-form-field-error [form-control]="resourceForm.get('dataFim')"></app-form-field-error>
        </div>

        <div class="form-group col-md-8">
          <label for="idendereco">Endereço</label>
          <input type="text" class="form-control" id="idendereco" formControlName="endereco">

          <app-form-field-error [form-control]="resourceForm.get('descricao')"></app-form-field-error>
        </div>

        <div class="form-group col-md-4">
          <label for="idcusto">Centro de Custo</label>
           <select class="form-control" formControlName="custo"  [compareWith]="compareFn"  id="idcusto">
              <option [ngValue]="null">--Selecione--</option>
              <option *ngFor="let custo of custos"  [ngValue]="custo"> {{custo.descricao}} </option>
           </select>

             <app-form-field-error [form-control]="resourceForm.get('custo')"></app-form-field-error>
        </div>

        <div class="form-group col-md-4">
          <label for="idcliente">Cliente</label>
           <select class="form-control" formControlName="cliente"  [compareWith]="compareFn"  id="idcliente">
              <option [ngValue]="null">--Selecione--</option>
              <option *ngFor="let cliente of clientes"  [ngValue]="cliente"> {{cliente.descricao}} </option>
           </select>

             <app-form-field-error [form-control]="resourceForm.get('cliente')"></app-form-field-error>
        </div>

        <div class="form-group col-md-4">
          <label for="idengenheiro">Engº / Supervisor</label>
           <select class="form-control" formControlName="engenheiro"  [compareWith]="compareFn"  id="idengenheiro">
              <option [ngValue]="null">--Selecione--</option>
              <option *ngFor="let engenheiro of engenheiros"  [ngValue]="engenheiro"> {{engenheiro.descricao}} </option>
           </select>

             <app-form-field-error [form-control]="resourceForm.get('engenheiro')"></app-form-field-error>
        </div>

        <div class="form-group col-md-4">
          <label for="idempreiteiro">Empreiteiro</label>
           <select class="form-control" formControlName="empreiteiro"  [compareWith]="compareFn"  id="idempreiteiro">
              <option [ngValue]="null">--Selecione--</option>
              <option *ngFor="let empreiteiro of empreiteiros"  [ngValue]="empreiteiro"> {{empreiteiro.descricao}} </option>
           </select>

             <app-form-field-error [form-control]="resourceForm.get('empreiteiro')"></app-form-field-error>
        </div>

        <div class="form-group col-md-4">
          <label for="idgerenteContrato">Gerente Contrato</label>
           <select class="form-control" formControlName="gerenteContrato"  [compareWith]="compareFn"  id="idgerenteContrato">
              <option [ngValue]="null">--Selecione--</option>
              <option *ngFor="let gerenteContrato of gerenteContratos"  [ngValue]="gerenteContrato"> {{gerenteContrato.descricao}} </option>
           </select>

             <app-form-field-error [form-control]="resourceForm.get('gerenteContrato')"></app-form-field-error>
        </div>
        <div class="form-group col-md-4">
          <label for="idadministrativo">Administrativo</label>
           <select class="form-control" formControlName="administrativo"  [compareWith]="compareFn"  id="idadministrativo">
              <option [ngValue]="null">--Selecione--</option>
              <option *ngFor="let administrativo of administrativos"  [ngValue]="administrativo"> {{administrativo.descricao}} </option>
           </select>

             <app-form-field-error [form-control]="resourceForm.get('administrativo')"></app-form-field-error>
        </div>

        <div class="form-group col-md-4">
          <label for="idcomprador">Comprador</label>
           <select class="form-control" formControlName="comprador"  [compareWith]="compareFn"  id="idcomprador">
              <option [ngValue]="null">--Selecione--</option>
              <option *ngFor="let comprador of compradores"  [ngValue]="comprador"> {{comprador.descricao}} </option>
           </select>

             <app-form-field-error [form-control]="resourceForm.get('comprador')"></app-form-field-error>
        </div>

        <div class="form-group col-md-4">
            <input class="form-check-input" checked=true type="checkbox" value="" id="ativo" formControlName="ativo" disabled>
            <label for="ativo">Ativo</label>

            <app-form-field-error [form-control]="resourceForm.get('ativo')"></app-form-field-error>
        </div>

      </div>
    </div>
  </div>

  <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>

  <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn btn-primary btn-lg float-right mt-3">
    Salvar
  </button>

</form>
