<app-bread-crumb
  [items]="[{text: 'Solicitacao'}]"
></app-bread-crumb>

<app-page-header
  page-title="Solicitaçao"
  button-text="+ Nova Solicitaçao"
  button-link="new"
  button-class="btn-success"
></app-page-header>


<table class="table table-hover">
  <thead>
    <tr class="bg-primary text-light">
      <th>Código</th>
      <th>Numero</th>
      <th>Data Solicitaçao</th>
      <th>Operação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let solicitacao of resources">
      <td>
        {{solicitacao.id}}
      </td>
      <td>
         {{solicitacao.numeroSolicitacao}}
      </td>
      <td>
        {{solicitacao.dataSolicitacao}}
     </td>
      <td>
        <a [routerLink]="[solicitacao.id, 'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
        <button (click)="deleteResource(solicitacao)" class="btn btn-outline-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
