<app-bread-crumb
  [items]="[{text: 'Pessoas'}]"
></app-bread-crumb>

<app-page-header
  page-title="Pessoas"
  button-text="+ Nova Pessoa"
  button-link="new"
  button-class="btn-success"
></app-page-header>


<table class="table table-hover">
  <thead>
    <tr class="bg-primary text-light">
      <th>Código</th>
      <th>Descrição</th>
      <th>Tipo Pessoa</th>
      <th>Operação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pessoa of resources">
      <td>
        {{pessoa.id}}
      </td>
      <td>
         {{pessoa.descricao}}
      </td>
      <td>
        {{pessoa.tipopessoa}}
     </td>
      <td>
        <a [routerLink]="[pessoa.id, 'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
        <button (click)="deleteResource(pessoa)" class="btn btn-outline-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
