<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>PetroReconcavo</h1>
            <form [formGroup]="loginForm">

                <div class="form-content">
                    <div class="form-group">
                        <input type="text" formControlName="username"  class="form-control input-underline input-lg" id="" placeholder="{{ 'User' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="password"formControlName="password" class="form-control input-underline input-lg" id="" placeholder="{{ 'Password' | translate }}">
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/blank-page']" (click)="onLoggedin()">{{ 'Log in' | translate }}</a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">{{ 'Register' | translate }}</a>
            </form>
        </div>
    </div>
</div>
