

.order-table {

    th, td {
        text-align: left;
        color: rgb(24, 24, 26);
        font-size: 18px;
        word-wrap: break-word;
        padding-left: 0px;
        padding-right: 5px;

        &.left {
            text-align: left;
        }
        
        &.right {
            text-align: right;
        }

        &.center {
            text-align: center;
        }

        div.left {
            float: left;
        }
        
        div.right {
            float: right;
        }
        
    }

    th {
        position: relative;
        padding-right: 15px;
        border-bottom: 1px Solid rgb(24, 24, 26);

        .sortIcon {
            position: absolute;
            right: 0;
            top: 12px;
        }
    }

    .ui-table p-sorticon {
        color:  rgb(24, 24, 26);
    }
    
    td {
        padding: 7px 5px;        
    }

    .ui-paginator-bottom {
        padding: 10px 0px;
    }

    .fa-search {
        position: absolute;
        top: 13px;
        left: 7px;
    }

    tr {
        border-bottom: 1px Solid rgb(155, 155, 172);
        cursor: pointer;
        &:hover {
            td{
                border: solid blue;
                border-width: 1px 0;
                background-color: rgba(192, 223, 248, 0.863);
            }
        }
    }
}

.no-data-message {
    color: blue;
    font-size: 1.3em;
    text-align: center;
}