<app-bread-crumb
  [items]="[{text: 'Pessoas', link: '/pessoas'}, {text: pageTitle}]"
></app-bread-crumb>

<app-page-header
  [page-title]="pageTitle"
  button-text="<< Voltar"
  button-link="/pessoas"
  button-class="btn-light"
></app-page-header>


<form [formGroup]="resourceForm" (submit)="submitForm()">

  <div class="card">
    <div class="card-header">
      Informações sobre Pessoas
    </div>

    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-10">
          <label for="descricao">Descrição</label>
          <input type="text" class="form-control" id="descricao" formControlName="descricao">

          <app-form-field-error [form-control]="resourceForm.get('descricao')"></app-form-field-error>
        </div>

         <div class="form-group col-md-2">
            <label for="tipopessoa">Tipo</label>
            <select name="tipopessoa" id="tipopessoa" formControlName="tipopessoa" class="form-control">
              <option *ngFor="let tipo of tipoPessoas" [value]="tipo.value">{{ tipo.label }}</option>
             </select>

            <app-form-field-error [form-control]="resourceForm.get('tipoPessoa')"></app-form-field-error>
         </div>

         <div class="form-group col-md-4">
            <label for="idcargo">cargo</label>
            <select class="form-control" formControlName="cargo"  [compareWith]="compareFn"  id="idcargo">
              <option [ngValue]="null">--Selecione--</option>
              <option *ngFor="let cargo of cargos"  [ngValue]="cargo"> {{cargo.descricao}} </option>
            </select>
             <app-form-field-error [form-control]="resourceForm.get('cargo')"></app-form-field-error>
         </div>

         <div class="form-group col-md-4">
          <label for="idcusto">Setor</label>
            <select class="form-control" formControlName="custo"  [compareWith]="compareFn"  id="idcusto">
              <option [ngValue]="null">--Selecione--</option>
              <option *ngFor="let custo of custos"  [ngValue]="custo"> {{custo.descricao}} </option>
             </select>
             <app-form-field-error [form-control]="resourceForm.get('cargo')"></app-form-field-error>
         </div>


         <div class="form-group col-md-1">
            <input class="form-check-input" checked=true type="checkbox" value="" id="cliente" formControlName="cliente" >
            <label for="cliente">Cliente</label>

            <app-form-field-error [form-control]="resourceForm.get('cliente')"></app-form-field-error>
         </div>

         <div class="form-group col-md-2">
            <input class="form-check-input" checked=true type="checkbox" value="" id="idcomprador" formControlName="comprador" >
            <label for="idcomprador">Comprador</label>

            <app-form-field-error [form-control]="resourceForm.get('comprador')"></app-form-field-error>
         </div>


         <div class="form-group col-md-1">
             <input class="form-check-input" checked=true type="checkbox" value="" id="empreiteiro" formControlName="empreiteiro" >
             <label for="empreiteiro">Empreiteiro</label>

             <app-form-field-error [form-control]="resourceForm.get('empreiteiro')"></app-form-field-error>
         </div>

      </div>
    </div>
  </div>

  <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>

  <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn btn-primary btn-lg float-right mt-3">
    Salvar
  </button>
</form>
