<app-bread-crumb [items]="[{text: 'Cargos'}]">

</app-bread-crumb>

<app-page-header
  page-title="Cargo"
  button-text="+ Novo Cargo"
  button-link="new"
  button-class="btn-success"
></app-page-header>

<table class="table table-hover">
  <thead>
    <tr class="bg-primary text-light">
      <th>Código</th>
      <th>Descrição</th>
       <th>operação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cargo of resources">
      <td>
        {{cargo.id}}
      </td>
      <td>
         {{cargo.descricao}}
      </td>
      <td>
        <a [routerLink]="[cargo.id, 'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
        <button (click)="deleteResource(cargo)" class="btn btn-outline-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
